NAVIGATE_API_KEY=
NAVIGATE_BASE_URL=https://apidev.navigatelabsai.com
MODEL_NAME=
NAVIGATE_LABS_API_KEY=
NAVIGATE_LABS_BASE_URL=https://apidev.navigatelabsai.com
NAVIGATE_LABS_MODEL=
CHROMA_PERSIST_DIR=./vectorstore
UPLOADS_DIR=./data/pdfs
